/*code*/
.wrap {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
  }
  code {
    color: white;
  }
  span.blue {
    color: #48beef;
  }
  span.comment {
    color: #7f8c8d;
  }
  span.load {
    color: #f39c12;
  }

    /*mail*/
    .mail {
      position: fixed;
      writing-mode: vertical-rl;
      bottom: 5%;
      right: 2%;
      color: var(--light-brown-text);
      font-size: large;
    }